<div class="row">
    <div class="col=md-6 mx-auto" style="width: 50%;">
        <div class="input-group" style="height: 500px; width: auto;" >
            <textarea class="form-control" rows="15" cols="80" id="txt1" placeholder="JSON Data" wrap="off"></textarea>
          </div>
    </div>
    <div class="col-md-6 mx-auto" style="width: 50%;">
        <div class="input-group" style="height: 500px; width: auto;" >
            <textarea class="form-control" rows="15" cols="80" id="txt1" placeholder="XML Data" wrap="off"></textarea>
          </div>
    </div>
</div>
<div class="conatiner">
    <button class="btn btn-dark">Convert to XML</button>
</div>


